body {
  background-color: #FBFBFB;
  color: #1F1F1F;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: inherit;
  box-shadow: none;
  color: #1F1F1F;
}

label {
  color: inherit;
}

a.brand-logo, nav a, nav ul a, .btn a {
  color: inherit;
}

p {
  font-size: 1.3rem;
  font-weight: 600;
}

.bolder {
  font-weight: 700;
}

footer p {
  font-size: 1rem;
  font-weight: 500;
}

button.btn {
  border-radius: 0;
  background-color: #0D36A5;
}

button.btn:hover, button.btn:focus {
  background-color: #0d36a58c;
}

.tab {
  display: none;
}

#questionnaire {
  min-height: 70vh;
}

/* Make circles that indicate the steps of the form: */

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */

.step.finish {
  background-color: #04AA6D;
}

/* Styles for the profile card */
#badge-list {
  display: inline-flex;
}

#badge-list li {
  margin-right: 25px;
}

.user-card {
  padding: 20px;
}

.mt-5 {
  margin-top: 50px;
}

.flex-container {
  display: flex;
}

.justify-center {
  justify-content: center;
}

#home-image {
  width: 100%;
  height: auto;
}