{% extends "base.html" %}

{% block content %}
<div class="container">
  {% if session.user %}
  <div class="row">
    <div class="col">
      <h4 class="page-header">Questionnaire</h4>
    </div>
  </div>
  <div class="row">
    <form action="{{ url_for('questionnaire', username=username, tabs=tabs) }}" class="col s12" method="POST"
      id="questionnaire">
      <div class="row">
        <div class="col">
          <h5>Please answer all the following questions</h5>
          <p>Check all answers that apply</p>
        </div>
      </div>
      <!-- One "tab" for each step in the form: -->
      <div class="row">
        <div class="col">
          {% for tab in tabs %}
          <div class="tab">
            <h6>
              {{ tab.question }}
            </h6>
            {% for answer in tab.answers %}
            <p>
              <label>
                <input type="checkbox" class="filled-in" name="questionnaire" value="{{ tab.icons[loop.index0] }}" />
                <span>{{ answer }}</span>
              </label>
            </p>
            {% endfor %}
          </div>
          {% endfor %}

          <div class="tab">
            <h6>Please provide us with personal highlights</h6>
            <p>
              <input placeholder="I climbed Kilimanjaro" name="highlights" id="highlights" type="text" class="validate">
              <label for="highlights">Highlights</label>
            </p>
          </div>

          <div class="tab">
            <h6>Please let us know if you have any other specific needs in the workplace</h6>
            <p>
              <input placeholder="I need to work irregular hours" name="extra" id="extra" type="text" class="validate">
              <label for="extra">Extra Info</label>
            </p>
          </div>

          <div style="overflow:auto;">
            <button class="btn waves-effect waves-light" type="button" id="prevBtn"
              onclick="nextPrev(-1)">Previous</button>
            <button class="btn waves-effect waves-light" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
          </div>
        </div>
      </div>
    </form>
    <!-- Circles which indicates the steps of the form: -->
    <div class="col s12" style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col">
      <h2>You must be logged in to access this feature</h2>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='js/formscript.js') }}"></script>
{% endblock %}